
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 20px;
  font-family: 'Nunito', sans-serif;
  color: rgb(5, 3, 63);
}

.main__sort {
    margin-top: 100px;
}
.first-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    
}
.sort__options  {
 position: relative;
 display: flex;
 flex-direction: column;
}
.sort__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  background-color: white;
  border: 2px solid rgb(183, 214, 249);
  border-radius: 20px;
  box-sizing: border-box;
}
.sort__button > img {
  flex:0 0 auto;
  width: 10px;
  Height: 10px;
}
.sort__button > span {
  margin-left: 10px;
  flex: 0 0 auto;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 2px 5px 2px;
   color: rgb(0, 52, 148);
}

 
.sort__options .sort__list {
  list-style: none;
  display: none;
  top:100%;
  text-align: center;
  width: 200px;
  position: absolute;
  padding: 0;
  background-color: white;
  padding-top: none;
  
  max-height: 200px;
  margin-top:0;
  z-index: 10;
  border-bottom: 1px solid  rgb(183, 214, 249);
}
.sort__list > li {
  
  padding-bottom: 5px;
  
  border-bottom:1px solid  rgb(183, 214, 249);
  cursor: pointer;
 padding:5px 2px 5px 2px;
 font-weight: bold;
 font-size: 14px;


}
.sort__list > li:hover {
  color:rgb(0, 52, 148);
}

.sort__list > li:last-child {
  border-bottom:0 ;
}
.sort__options:hover .sort__list {
  display: block;
  

}

.first-sort > span {
    flex: 0 0 auto;
    font-weight: 1000;
    color: rgb(0, 52, 148);
   
    padding: 3px 5px 3px 5px;
    
    font-size: 30px;
    

}

.more-options {
    display: flex;
   align-items: center;
   gap:30px;
   margin-bottom: 30px ;
   position: relative;
}
.more-options .filter {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 2px;
    border-right: 1px solid rgb(165, 165, 165) ;
    padding-right: 30px;
}
.more-options .filter > img {
    width: 20px;
    height: 20px;
}
.more-options .filter  span {
 color: rgb(0, 52, 148); 
 font-weight: bolder;
    font-size: 20px;
}
.more-options .more-options__div {
    flex: 1;
    display: flex;
    gap:20px;
}
.more-options__div .options {
    width: 200px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    
    
}
.options {
  position: relative;
}
.more-options__div .options .options__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  Display:none;
  position: absolute;
  background-color: white;
  width: 200px;
  z-index: 10;
}
.options .options__list > li {
  Padding-top:5px;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 5px;
  font-size: 14px;
  margin: 0;
  margin-bottom: 0px;
  border-bottom: 1px solid  rgb(183, 214, 249);
  font-weight: bold;
  cursor: pointer;
}
.options .options__list > li:hover {
 color:rgb(0, 52, 148);
}
.more-options__div .options .sort__button {
  cursor: pointer;
}
.more-options__div .options:hover .options__list{
  display:block;
  border-bottom: 1px solid  rgb(183, 214, 249);
}
.main__section {
    display: flex;
    flex-direction: column;
    Gap: 30px;
}


.more-options__div .options .options__list > li:last-child {
  border-bottom: 0;
}
 .main__section .sections {
 display:flex;
 align-items: center;
 gap: 80px;
 justify-content: space-between;


}


.main__section .sections > div {
  flex: 1 1 0;
  max-width: 350px;
  
}
 .swap-img {
  position: relative;
  width: 100%;
  height: 100%;
  
  aspect-ratio: 1/1;
  
 }
 .swap-img img {
  position: absolute;
  left:0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
 
 }
  .swap-img .img-1 {
    opacity: 1;
    transition: 250ms;
  }
  .swap-img .img-2 {
    opacity: 0;
    transition: 250ms;
  }
   .swap-img:hover .img-1{
    opacity: 0;

   }
   .swap-img:hover .img-2{
    opacity: 1;
   }
 .sections div a  img {
    width:100%;
    border: 3px solid white;
    border:3px solid #bdbdbd;
}

.sections div p:first-of-type , p:last-child{
    color: rgb(13, 62, 186);
    font-weight: bold;
    
    font-size: 16px;
    margin-top: 5px;    
  margin-bottom: 5px; 
}
.sections div p:last-child {
    font-size: 12px;
    font-weight: 500;
}
/* PHẦN GIỎ HÀNG */
.Cart-container {
  padding: 100px 20px 20px;
}
.Cart-container .price {
  border: 0;
}
.Cart-container h1 {
  Color:rgb(0, 52, 148); 
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}
.Cart-container h2 {
  background-color: #fafafa;
  font-size: 18px;
  font-weight: 300;
  color:rgb(0, 52, 148);  
  padding: 10px 5px 10px 5px;
}
.Cart-container h2 > span {
  font-weight: bold;
 
}


/* BAG SAN PHAM CSS */

 .pages-container {
   
 }
 .pages__section {
   display:flex;
   align-items: center;
   
   gap: 100px;
}
.pages__section .swap-img img {
  width: 100%;

  
}
.pages-article {
  flex: 2;
  position: sticky;
  top: 100px;
  align-self: flex-start;
  margin-bottom: 150px;
  margin-top:150px;
  margin-left: 200px;
  
  
}
.page-sidebar {
  flex: 1;
  margin-right: 200px;
  margin-top:30px;
  color: #19457a;
  
}
.page-sidebar h2 {
  Margin-top:120px;
  
 margin-bottom: 20px;
}
.des-img {
  width: 100%;
  
}
.details {
  display:flex;
  align-items: center;
  gap: 20px;

  border-bottom: 1px dashed gray;
}
.details p {
  font-weight: 300;

}
.details p:first-child {
  Color: gray;
}
.price {
  Color: red;
  border-bottom: 1px dashed gray;
  padding-bottom: 20px;
}
.size {
  padding-bottom: 10px;
  border-bottom: 1px dashed gray;
}
.size button {
  padding: 10px 8px 10px 8px;
  background-color: white;
  border: 1px solid rgb(184, 184, 184);
  Margin-left: 5px;
  margin-bottom: 10px;
  
 
}

.size button:hover {
  background-color: black;
  color: white;
}
.box {
  Margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed gray;
}
.box button {
    padding: 10px 8px 10px 8px;
  background-color: white;
  border: 1px solid rgb(184, 184, 184);
  Margin-left: 5px;
  margin-bottom: 10px;
  
}
.box button:hover {
    background-color: black;
  color: white;
}
.SL {
  margin-top: 20px;
  display:flex;
  align-items: center;
}
.SL button {
padding: 10px 14px;
background-color: #f5f5f5;
border: 1px solid rgb(189, 189, 189);
color:#19457a;
font-weight: bold;
font-size: 16px;
 cursor: pointer;
}
.SL input {
  max-width: 100px;
  line-height: 34px;
  text-align: center;
  color: #19457a;
  font-weight:bold ;
  
}
.buy {
  width: 100%;
  line-height: 40px;
  color: white;
  font-weight: bold;
  background-color: #19457a;
  margin-top: 10px;
  border: 1px solid #19457a; 
  position: relative;
  z-index: 0;
  
}

.buy::after {
 content: "";
 Top:0;
 left: 0;
 bottom: 0;
  position: absolute;
  background-color:white ;
  width: 0%;
  transition: 250ms;
 z-index: -1;
}

.buy:hover::after{
  width: 100%;
  
}
.buy:hover {
  Color:#19457a;
}
.cart {
    width: 100%;
  line-height: 40px;
  color: white;
  font-weight: bold;
  background-color: #0862f7;
  margin-top: 10px;
  border: 0;
  cursor: pointer;
  
}

.cart:hover {
  Color:#879faf;
}
.items-name {
  font-weight: bold;
  text-align: center;
}